<div class = "grid">
<mat-grid-list cols="3" rowHeight="250px">
    <mat-grid-tile><img src = "../../assets/Images/senesh.jfif"><div class = "senesh">Senesh Fernando<br>2018393<br>W1761908</div></mat-grid-tile>
    <mat-grid-tile><img src = "../../assets/Images/pasindu.jpg"><div class = "pasindu">Pasindu Manodya<br>2018484<br>W1761934</div></mat-grid-tile>
    <mat-grid-tile><img src = "../../assets/Images/chanuth.jpg"><div class = "chanuth">Chanuth Wijesekara<br>2018392<br>W1761777</div></mat-grid-tile>
    <mat-grid-tile><img src = "../../assets/Images/yomal.jpeg"><div class = "yomal">Yomal Senarath<br>2018471<br>W1761770</div></mat-grid-tile>
    <mat-grid-tile><img src = "../../assets/Images/malaka.jpg"><div class = "malaka">Chirath de Silva<br>2018437<br>W1761739</div></mat-grid-tile>
  </mat-grid-list>
</div>

<br>
<br>
<br>
<div class = "container1">
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  
  <!--footer starts from here-->
  <footer class="footer">
  <div class="container bottom_border">
  <div class="row">
  <div class=" col-sm-4 col-md col-sm-4  col-12 col">
  <h5 class="headin5_amrc col_white_amrc pt2">Team Information</h5>
  <!--headin5_amrc-->
  <p><i class="fa fa-location-arrow"></i> Colombo,Sri Lanaka </p>
  <p><i class="fa fa fa-envelope"></i> senesh.2018393@iit.ac.lk</p>
  <p><i class="fa fa fa-envelope"></i> pasindu.2018484@iit.ac.lk</p>
  <p><i class="fa fa fa-envelope"></i> chanuth.2018392@iit.ac.lk</p>
  <p><i class="fa fa fa-envelope"></i> yomal.2018471@iit.ac.lk</p>
  <p><i class="fa fa fa-envelope"></i> malaka.2018437@iit.ac.lk</p>
  <p><i class="fa fa fa-envelope"></i> binura.2018081@iit.ac.lk</p>
  
  
  </div>
  
  
  <div class=" col-sm-4 col-md  col-6 col">
  <h5 class="headin5_amrc col_white_amrc pt2">Team Members</h5>
  <!--headin5_amrc-->
  <ul class="footer_ul_amrc">
  <li><p>Senesh Fernando</p></li>
  <li><p>Pasindu Manodya</p></li>
  <li><p>Chanuth Wijesekara</p><li>
  <li><p>Yomal Senarath</p></li>
  <li><p>Malaka de Silva</p></li>
  <li><p>Binura Methmal</p></li>
  </ul>
  <!--footer_ul_amrc ends here-->
  </div>
  
  
  <div class=" col-sm-4 col-md  col-6 col">
  <h5 class="headin5_amrc col_white_amrc pt2">Linkedin</h5>
  <!--headin5_amrc-->
  <ul class="footer_ul_amrc">
  <li><p><i class="fab fa-linkedin"></i><a href="https://www.linkedin.com/in/senesh-fernando-1526b41b6/">Profile</a></p></li>
  <li><p><i class="fab fa-linkedin"></i><a href="https://www.linkedin.com/in/pasindu-manodya-0b46a8206/">Profile</a></p></li>
  <li><p><i class="fab fa-linkedin"></i><a href="https://www.linkedin.com/in/chanuth-wijesekara-44b678195/">Profile</a></p></li>
  <li><p><i class="fab fa-linkedin"></i><a href="https://www.linkedin.com/in/yomal-samarakoon-20a504207/">Profile</a></p></li>
  <li><p><i class="fab fa-linkedin"></i><a href="https://www.linkedin.com/in/chirath-malaka-8191b81b9/">Profile</a></p></li>
  <li><p><i class="fab fa-linkedin"></i><a href="https://www.linkedin.com/in/binura-methmal/">Profile</a></p></li>
  </ul>
  <!--footer_ul_amrc ends here-->
  </div>
  
  
  <div class=" col-sm-4 col-md  col-12 col">
  <h5 class="headin5_amrc col_white_amrc pt2">Twitter</h5>
  <!--headin5_amrc ends here-->
  
  <ul class="footer_ul2_amrc">
  <li><p><a href="https://twitter.com/SeneshFernando"><i class="fab fa-twitter fleft padding-right"></i> Profile</a></p></li>
  <li><p><a href="https://twitter.com/pasindu79405953"><i class="fab fa-twitter fleft padding-right "></i> profile</a></p></li>
  <li><p><a href="https://twitter.com/Chanuth20"><i class="fab fa-twitter fleft padding-right"></i> Profile</a></p></li>
  <li><p><a href="https://twitter.com/26af6299ee794c4"><i class="fab fa-twitter fleft padding-right"></i> Profile</a></p></li>
  <li><p><a href="https://twitter.com/ChirathMalaka1"><i class="fab fa-twitter fleft padding-right"></i> Profile</a></p></li>
  <li><p><a href="https://twitter.com/binuramethmalSE"><i class="fab fa-twitter fleft padding-right"></i> Profile</a></p></li>
  </ul>
  <!--footer_ul2_amrc ends here-->
  </div>
  </div>
  </div>
  
  
  <div class="container">
  <ul class="foote_bottom_ul_amrc">
  <li><a href="#">Home</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Services</a></li>
  <li><a href="#">Pricing</a></li>
  <li><a href="#">Blog</a></li>
  <li><a href="#">Contact</a></li>
  </ul>
  <!--foote_bottom_ul_amrc ends here-->
  <p class="text-center">Copyright @2021 | Designed by <a href="#">GENESIS</a></p>
  
  <ul class="social_footer_ul">
  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
  <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
  </ul>
  <!--social_footer_ul ends here-->
  </div>
  
  </footer>
  
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </div>
