img{
    width: 200px;
    border-radius: 100%;
}
.grid{
    margin-top: -700px;
    margin-left: 200px;
}
img:hover + .senesh {
    display: block;
    width: 50%;
}
img:hover + .pasindu {
    display: block;
    width: 50%;
}
img:hover + .chanuth {
    display: block;
    width: 50%;
}
img:hover + .yomal {
    display: block;
    width: 50%;
}
img:hover + .malaka {
    display: block;
    width: 50%;
}
img:hover{
    opacity: 70%;
}

.senesh{
    display: none;
    font-weight: bold;
    font-size: 24px;
    color:	#C0C0C0;
}
.pasindu{
    display: none;
    font-weight: bold;
    font-size: 24px;
    color:	#C0C0C0;
}
.chanuth{
    display: none;
    font-weight: bold;
    font-size: 24px;
    color:	#C0C0C0;
}
.yomal{
    display: none;
    font-weight: bold;
    font-size: 24px;
    color:	#150e06;
}
.malaka{
    display: none;
    font-weight: bold;
    font-size: 24px;
    color:#C0C0C0;
}

.col_white_amrc { color:#FFF;}
footer { width:80%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ; position: absolute; left: 305px;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}