.main-div mat-card:first-child{
    padding : 0px;
    margin-top: -950px;
    opacity: 90%;
}
.login-form{
    padding : 20px;
}
#or{
    font-size: 16px;
    font-weight: initial;
    padding: 10px;
}

input{
    font-size: 18px;
}
.validations > span{
    display: block;
    margin: auto;
}