.background{      
    background-image: url("../assets/Images/background.jpg"); 
    background-size: cover;   
    height: 100%;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  .logo{
    animation-name: circular;
    animation-duration: 2s;
  }
  
  @keyframes circular {
    100% {transform: rotate(360deg);}
  }
  