<div class="sidebar">
  <span><img class = "logo" src = "../assets//Images/logo.png"></span>
  <a href="main-page">Home</a>
  <a href="login">Login</a>
  <a href="signup">Signup</a>
  <a href="about-us">About</a>
</div>
<div class = "background">
</div>
<router-outlet></router-outlet>