.main-div mat-card{
    padding : 0px;
    margin-top: -745px;
    opacity: 90%;
}
.user-detail-form{
    padding : 20px;
}
#male{
    padding: 10px;
}
#female{
    padding:10px;
}
#notFound{
    padding: 10px;
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
#yes{
    padding: 10px;
}
#no{
    padding: 10px;
}

#pressure{
    padding: 5px;
}

#attack{
    padding: 5px;
}

#stroke{
    padding: 5px;
}